<h1>Components</h1>
<div class="individual-components display-flex">
  @for (individualComponent of individualComponents; track individualComponent) {
    <div class="individual-component-card">
      @if (individualComponent.selector === 'toggleSwitch') {
        <app-toggle-switch></app-toggle-switch>
      }
      @if (individualComponent.selector === 'navMenu') {
        <app-navigation-menu></app-navigation-menu>
      }
      @if (individualComponent.selector === 'rangeSlider') {
        <app-range-slider></app-range-slider>
      }
      @if (individualComponent.selector === 'loadIndicator') {
        <app-loading-indicator></app-loading-indicator>
      }
      <div class="individual-component-card-footer">
        <h2>{{individualComponent.title}}</h2>
      </div>
    </div>
  }
</div>