@use "../scss/custom-variables.scss" as cssVariables;

.content {
    max-width: 1140px;
    margin: 10px auto;

    .content-tile {
        max-height: 545px;
        justify-content: start;
        align-items: start;
        flex-grow: 1;
        flex-basis: 50%;

        @media (width <= cssVariables.$screenSize-tablet) {
            max-height: unset;
        }

        &.content-tile-individual-components {
            min-height: 479px;

            @media (width <= cssVariables.$screenSize-desktopLarge) {
                min-height: 200px;
            }
        }
    }
}
